<h1 id="<%=@quiz.id%>">Quiz Result: <%=@quiz.title.titleize%></h1>
<h2>Judging <%=@user.f_name.titleize%> <%=@user.l_name.titleize%>'s worth as a sacrifice to the elder gods. </h2>
<h5 class="student-quiz-cohort-name"> COHORT: <%= @cohort.name.upcase %></h5>
<% if @assessment.student_score %>
  <h3>Score: <%=@assessment.student_score %> / <%= @quiz.total_points%> </h3>
<% end %>


<!-- ======================= QUESTION DISPLAY ======================= -->

  <% @quiz.questions.each_with_index do |question, i| %>

  <%response = question.responses.find_by(user: @user)%>
    <div class="question">
      <% renderer = Redcarpet::Render::HTML.new %>
        <% markdown = Redcarpet::Markdown.new(renderer) %>
        <h3>#<%= i + 1 %>. <%= markdown.render(question.prompt).html_safe %></h3>
      <%# showing question that belongs to quiz %>

      <% if response == nil %>

  <!-- UNANSWERED QUESTIONS =======================-->

        <% if question.is_multiple_choice %>
    <!-- UNANSWERED MULTI CHOICE =======================-->
          <% question.choices.each_with_index do |choice, i| %>
            <input class="<%=question.id%>" type="radio" name="question<%=question.id%>_choice">
            <label for "question<%=question.id%>_choice"><%=(i+65).chr%>. <%=choice.option%></label>
            <br>
          <% end %>
          <label>GRADE <i>out of <%=question.max_points%> points</i>:</label><br><input type="text" class="response-grade" onchange="handleChange(this);" id="<%=response.id%>" value=0 disabled><br><br>


        <% else %>
    <!-- UNANSWERED SHORT-ANSWER =======================-->
          <label>Student Answer:</label><br>
          <input type="text" class="<%=question.id%>" disabled=true value="UNANSWERED"></input>
          <br><br>
          
          <label>GRADE <i>out of <%=question.max_points%> points</i>:</label><br><input type="text" class="response-grade" onchange="handleChange(this);" value=0 disabled><br><br>
        <% end %>

      <% else %>
      <%#questions that user already submitted answers for%>

        <% if question.is_multiple_choice %>
    <!-- ANSWERED MULTI CHOICE =======================-->
          <% question.choices.each_with_index do |choice, i| %>

            <%# showing user submitted answer from choices #%>
            <% if response.answer == (i+65).chr %>
              <input class="<%=question.id%>" type="radio" name="question<%=question.id%>_choice" id="<%=response.id%>" checked disabled >
              <label for "question<%=question.id%>_choice"><%=(i+65).chr%>. <%=choice.option%></label>
              <br>
            <% else %>  
              <input class="<%=question.id%>" type="radio" name="question<%=question.id%>_choice" id="<%=response.id%>" disabled>
              <label for "question<%=question.id%>_choice"><%=(i+65).chr%>. <%=choice.option%></label>
              <br>
            <% end %>
          <% end %>
            <br>
          <% if response.answer.upcase == question.answer_key.upcase %>
            <% response.grade = question.max_points %>
          <% else %>
            <% response.grade = 0 %>
          <% end %>
          <label>GRADE <i>out of <%=question.max_points%> points</i>:</label><input type="text" class="response-grade" value="<%=response.grade%>" id="<%=response.id%>"disabled=true>
            <br>

        <% else %>
    <!-- ANSWERED SHORT-ANSWER =======================-->
          <input type="hidden" class="<%=question.max_points%>" id="max_points">
            <script>
              function handleChange(input) {
                var max = parseInt($('#max_points').attr('class'));
                if (input.value < 0) input.value = 0;
                if (input.value > max) input.value = max;
              }
            </script>
          <label>Student Answer:</label><br><input type="text" class="<%=question.id%>" value="<%=question.responses.find_by(user: @user).answer%>" id="<%=question.responses.find_by(user: @user).id%>" disabled></input>
          <br><br>

        <!--=== Graded (on-load) ===-->
          <% if response.grade %>
            <label>GRADE <i>out of <%=question.max_points%> points</i>:</label><br><input type="text" class="response-grade" onchange="handleChange(this);" id="<%=response.id%>" value="<%= response.grade %>" disabled><br><br>

        <!--=== UnGraded (on-load) ===-->
          <% else %>
            <label>GRADE <i>out of <%=question.max_points%> points</i>:</label><br><input type="text" class="response-grade" onchange="handleChange(this);" id="<%=response.id%>"><br><br>
          <% end %>
          <br>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br>

<%#+++++code for auto submitting auto graded mult choice qs++++++%>

<button class="student-return-quiz-page"><a href="/report">GO BACK TO REPORT PAGE</a></button>  


