<div id="back-to-link">
	<%= link_to "Back to Dashboard", "/" %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="main-user">

		<% if (session[:is_instructor]) %>
			<div id="user-header">
				<h1>Quizzes to be Graded</h1>
			</div>
			<hr>

      <div id="reports-inner-box">
				<table class="table">
					<thead>
						<tr>
							<th>Cohort</th>
							<th>Quiz</th>
							<th>Student</th>
							<th>Status</th>
							<th>Date</th>
						
						</tr>
					</thead>
					<tbody>
						<% @assessments.each do |assessment| %>
							<% if (assessment.status == "submitted") %>
								<tr>
									<td><a href="/cohorts/<%= assessment.quiz.cohort.id %>"><%= assessment.quiz.cohort.course.name %> - <%= assessment.quiz.cohort.name %></a></td>
									<td><a href="/quizzes/<%= assessment.quiz.id %>/assessments/<%= assessment.id %>/edit"><%= assessment.quiz.title %></a></td>
									<td><a href="/users/<%= assessment.user.id %>"><%= assessment.user.f_name %> <%= assessment.user.l_name %></a></td>
									<td><%= assessment.status %></td>
									<td><%= assessment.quiz.date_assigned %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

		<% else %>

			<h3>This page is for instructors only</h3>
</div>
</div>
</div>
</div>
		<% end %>