<% if (session[:is_instructor]) %>

<div id="back-to-link">
	<%= link_to "Back to Dashboard", "/" %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="main-user">

			<div id="user-header">
				<h1>Edit Cohort View</h1>
			</div>
			<hr>

			<div id="reports-inner-box">
				<div id="center-user">
					<br><br>
					<div id="edit-user-text-input">

						<%= form_for @cohort, url: {action: "update"} do |f| %>
							
							<%= f.label :course_id, "Course:" %><br>
							<%= f.collection_select(:course_id, Course.all, :id, :name) %><br>
							<%= f.label :name, "Cohort Name" %><br>
							<%= f.text_field :name %><br>
							<%= f.label :start_date, "Start Date" %><br>
							<%= f.date_field :start_date %><br>
							<%= f.label :end_date, "End Date" %><br>
							<%= f.date_field :end_date %><br>
						</div>
							<div id="user-submit">
								<%= f.submit "Update", html: {class: "button"}  %>
							</div>
						<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<% else %>

  <h3>This page is for instructors only</h3>

<% end %>
