<div id="back-to-link">
	<%= link_to "Back to Dashboard", "/" %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="main-user">

			<div id="user-header">
				<h1><%= @cohort.course.name %> - <%= @cohort.name %></h1>
			</div>
			<hr>

			<div id="reports-inner-box">

				<h3>Start Date: <%= @cohort.start_date %></h3>
				<h3>End Date: <%= @cohort.end_date %></h3>

				<% if (@cohort.is_active) %>
					<h3>Status: ACTIVE</h3>
				<% else %>
					<h3>Status: INACTIVE</h3>
				<% end %>

		
				<h3>Cohort Members</h3>
				<ul>
					<% @cohort.users.each do |user| %>
						<li><a href="/users/<%= user.id %>"><%= user.f_name %> <%= user.l_name %>
							<% if (user.is_instructor) %>[INSTRUCTOR] <% end %></a></li>
					<% end %>
				</ul>

				<h3>Quizzes</h3>
				<% if (session[:is_instructor]) %>
						<ul>
							<% @cohort.quizzes.each do |quiz| %>
								<li><a href="/quizzes/<%= quiz.id %>/edit"><%= quiz.title %></a></li>
							<% end %>
						</ul>
				<% else %>
						<ul>
							<% @cohort.quizzes.each do |quiz| %>
								<li><%= quiz.title %></li>
							<% end %>
						</ul>
				<% end %>


				<% if (session[:is_instructor]) %>
					<h3>Instructor Options</h3>
						<div class="cohort-buttons">
							<ul>
								<li><%= link_to "Add New Quiz", new_cohort_quiz_path(@cohort) %></li>
								<li><%= link_to "Edit Cohort", "/cohorts/#{@cohort.id}/edit" %></li>
							</ul>
						</div>
				<% end %>

				<% if (session[:is_instructor]) %>

					<h3>Enroll a User</h3>
					<form action="/enroll_cohort/<%= @cohort.id %>" method="post">
						<select name="user_id">
							<% @users.each do |user| %>
								<% if not user.cohorts.include?(@cohort) %>
									<option value="<%= user.id %>"><%= user.f_name %> <%= user.l_name %></option>
								<% end %> 
							<% end %>
						</select>
						<div id="user-submit">
							<input type="submit" value="Add User to Cohort"/>
						</div>
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					</form>
					</div>

			<% end %>

		</div>
	</div>
</div>
