
<%# Student View for Quizzes %> 

<h1 class="quiz_id">Quiz: <%= @quiz.id%> <%= @quiz.title %></h1>

	<% @quiz.questions.each do |question| %>
		<div class="question">
			<%= question.prompt %>
			<%# showing question that belongs to quiz %>
			<% if question.responses.find_by(user: @user) == nil %>

			  <% if question.is_multiple_choice %>
			  	<% question.choices.each do |choice| %>
						<input type="radio" name="<%=question.id%>"><%=choice.option%></input>
					<% end %>
					<br>
					<button class="student-quiz-submit-button" id="submit-answer<%=question.id%>">submit answer</button>
					<button class="student-quiz-edit-button hidden" id="edit-answer<%=question.id%>">edit answer</button>
					<button class="student-quiz-update-button hidden" id="update-answer<%=question.id%>">update answer</button>
					<p class="hidden">answer submitted</p>
					<br>


			  <% else %>
					<input type="text" class="<%=question.id%>"></input>
					<br>
					<button class="student-quiz-submit-button" id="submit-answer<%=question.id%>">submit answer</button>
					<button class="student-quiz-edit-button hidden" id="edit-answer<%=question.id%>">edit answer</button>
					<button class="student-quiz-update-button hidden" id="update-answer<%=question.id%>">update answer</button>
					<p class="hidden">answer submitted</p>
					<br>
				<% end %> 
			<% else %>
			<%# disable answering questions that user already submitted answers for%>
				<input type="text" class="<%=question.id%>" value="<%=question.responses.find_by(user: @user).answer%>" id="<%=question.responses.find_by(user: @user).id%>" disabled></input>
				<br>
				<button class="student-quiz-submit-button hidden" id="submit-answer<%=question.id%>">submit answer</button>
				<button class="student-quiz-edit-button" id="edit-answer<%=question.id%>">edit answer</button>
				<button class="student-quiz-update-button hidden" id="update-answer<%=question.id%>">update answer</button>
				<p>answer submitted</p>
				<br>
			<% end %>
		</div>
	<% end %>
	<br>
<a href="/cohorts/<%=@cohort.id%>/quizzes">Complete Quiz</a>	


