<div id="back-to-link">
	<%= link_to "Back to Members", "/users" %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="main-user">




				<div id="user-header">
					<h2>Profile Data:</h2>
				</div>
				<div id="user-details">

					<div id="gravatar-picture">
						<%= image_tag gravatar_url(@user.email, '100x100') %>
					</div>

					<h3>Name: <%= @user.f_name %> <%= @user.l_name %></h3>
					<h3>Email: <%= @user.email %></h3>

					<% if (@user.is_instructor) %>
						<h3>INSTRUCTOR</h3>
					<% else %>
						<h3>STUDENT</h3>
					<% end %>

					<% if (session[:is_instructor]) %>
						<% if @user.invitation_sent_at != nil %>
							<h3>Invited on <%= @user.invitation_sent_at %></h3>
						<% else %>
							<h3> Student is not invited </h3>
						<% end %>
						
						<%= form_for @user, url: "/users/#{@user.id}/invite", method: 'post' do |f| %>
							<div id="user-submit">
								<%= f.submit "send invite", html: {class: "button"}  %>
						</div>
									<%# sending invitation #%> 	
				
						<!-- <form action="<%= @user.id %>/invite" method="POST"><input type="submit" value ="sent invitation email"></input></form >  -->
						<% end %>
					<% end %>
			

					<% if (@user.is_active) %>
						<h3>Status: ACTIVE</h3>
					<% else %>
						<h3>Status: INACTIVE</h3>
					<% end %>

					<h3>Cohorts this User is Enrolled in:</h3>
					<ul>
						<% @user.cohorts.each do |cohort| %>
							<li><%= cohort.course.name %> <%= cohort.name %></li>
						<% end %> 
					</ul>



					<%# enroll a student in a cohort %>

					<% if (session[:is_instructor]) %>

						<h3>Enroll this User in a Cohort</h3>
						<form action="/enroll_user/<%= @user.id %>" method="post">
							<select name="cohort_id">
								<% @cohorts.each do |cohort| %>
									<% if not cohort.users.include?(@user) %>
										<option value="<%= cohort.id %>"><%= cohort.course.name %> <%= cohort.name %></option>
									<% end %> 
								<% end %>
							</select>

						<div id="user-submit">
							<input type="submit" value="Add User to Cohort"/>
						</div>
							<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
						</form>

					<% end %>

		
				<br><br><br>


				</div>


						
		</div>
	</div>
</div>