<div id="back-to-link">
	<%= link_to "Back to Dashboard", "/" %>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="main-user">




				<div id="user-header">
					<h2>Profile Data:</h2>
				</div>
				<div id="user-details">

					<div id="gravatar-picture">
						<%= image_tag gravatar_url(@user.email, '100x100') %>
					</div>

					<h3>Name: <%= @user.f_name %> <%= @user.l_name %></h3>
					<h3>Email: <%= @user.email %></h3>

					<% if (@user.is_instructor) %>
						<h3>INSTRUCTOR</h3>
					<% else %>
						<h3>STUDENT</h3>
						<%# sending invitation #%> 	
						<% if @user.invitation_sent_at != nil %>
							<h3>Invited on <%= @user.invitation_sent_at %></h3>
						<% else %>
							<h3> User is not invited </h3>
						<% end %>
						
						<%= form_for @user, url: "/users/#{@user.id}/invite", method: 'post' do |f| %>
							<%= f.submit "send invite", html: {class: "button"}  %>
						<% end %>
						<!-- <form action="<%= @user.id %>/invite" method="POST"><input type="submit" value ="sent invitation email"></input></form >  -->
					<% end %>

					<% if (@user.is_active) %>
						<h3>Status: ACTIVE</h3>
					<% else %>
						<h3>Status: INACTIVE</h3>
					<% end %>

					<h3>Cohorts this User is Enrolled in:</h3>
					<ul>
						<% @user.cohorts.each do |cohort| %>
							<li><%= cohort.course.name %> <%= cohort.name %></li>
						<% end %> 
					</ul>



					<%# enroll a student in a cohort %>

					<h3>Enroll this User in a Cohort</h3>
					<form action="/enroll_user/<%= @user.id %>" method="post">
						<select name="cohort_id">
							<% @cohorts.each do |cohort| %>
								<% if not cohort.users.include?(@user) %>
									<option value="<%= cohort.id %>"><%= cohort.course.name %> <%= cohort.name %></option>
								<% end %> 
							<% end %>
						</select>
						<input type="submit" value="Add User to Cohort"/>
						<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					</form>

					<%# browse quizzes (index) %>

					<% if not session[:is_instructor] %>

						<h3>My Quizzes</h3>

						<table class="table">
							<thead>
								<th>Quiz Title</th>
								<th>Date Assigned</th>
								<th>Status</th>
								<th>Score</th>
								<th>Points</th>
								<th>Percent</th>
							</thead>
							<tbody>
								<% @user.assessments.each do |assessment| %>
									<tr>
										<td><%= assessment.quiz.title %></td>
										<td><%= assessment.quiz.date_assigned %></td>
										<td><%= assessment.status %></td>
										<td><%= assessment.student_score %></td>
										<td><%= assessment.quiz.total_points %></td>
										<% if (assessment.quiz.total_points > 0)
											percent = (assessment.student_score * 100) / assessment.quiz.total_points else percent="NA" end %>
										<td><%= percent %>%</td>
									</tr>
								<% end %>
							</tbody>
						</table>

					<% end %>
				</div>

						<div class="profile-nav">
						<ul>

				<%# edit profile (self) %>

				<li><%= link_to "Edit My Profile", "/users/#{session[:user_id]}/edit" %></li>

				<%# browse users (instructors and students) %>

				<li><%= link_to "Users", users_path %></li>

				<%# add student (instructors only) %>

				<% if session[:is_instructor] %>
					<li><%= link_to "Add a User", "/users/new" %></li>
				<% end %>

				<%# edit student profile (instructor only) %>

				<% if session[:is_instructor] %>
					<li><%= link_to "Edit User", "/users/#{@user.id}/edit" %></li>
				<% end %>

				<%# create quiz #%>

				<%# browse classes (index) %>

				<li><%= link_to "Cohorts", cohorts_path %></li>

				<%# create class/cohort (instructors only) %>

				<% if session[:is_instructor] %>
					<li><%= link_to "Create a Cohort", "/cohorts/new" %></li>

				<% else %>
					<li><%= link_to "Show Quizzes", "/quizzes" %>
				<% end %>

				<%# edit class - this link is on the class(cohort) show page %>
				</ul>
				</div>
		</div>
	</div>
</div>