<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div id="login-main">
			<br><br>
			<h1 id='login-title'>PLEASE LOG IN TO PRAY TO THE ELDER GODS</h1>

			<div id="login-box">
				<%= form_tag '/login', :class => 'login_form' do %>
					<%= label_tag :email %>:<br>
				  <%= text_field_tag :email %><br>
				  <%= label_tag :password %>:<br>
				  <%= password_field_tag :password %><br><br>
				  <div id="login-submit">
				 	  <%= submit_tag :login %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

