<h1>Edit User Profile View</h1>

<%= link_to "Back to Profile", @user %>

<%= form_for @user, url: {action: "update"} do |f| %>
	<%= f.label :f_name, "First Name" %>
	<%= f.text_field :f_name %>
	<%= f.label :l_name, "Last Name" %>
	<%= f.text_field :l_name %>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email %>

	<% if session[:is_instructor] %>
		<%= f.label :is_active, "Active?:" %>
		<%= f.radio_button(:is_active, :true) %>
		<%= f.label(:is_active_true, "Yes") %>
		<%= f.radio_button(:is_active, :false) %>
		<%= f.label(:is_active_false, "No") %>
		<%= f.label :is_instructor, "Is Instructor?:" %>
		<%= f.radio_button(:is_instructor, :true) %>
		<%= f.label(:is_instructor_true, "Yes") %>
		<%= f.radio_button(:is_instructor, :false) %>
		<%= f.label(:is_instructor_false, "No") %>
	<% end %>

	<%= f.submit "Update", html: {class: "button"}  %>
<% end %>

<%# what about password changes? %>