<h1>Create New User View</h1>

<%= link_to "Back to Dashboard", "/users/#{session[:user_id]}" %>

<%= form_for @user, url: {action: "create"} do |f| %>
	<%= f.label :f_name, "First Name" %>
	<%= f.text_field :f_name %><br>
	<%= f.label :l_name, "Last Name" %>
	<%= f.text_field :l_name %><br>
	<%= f.label :email, "Email" %>
	<%= f.text_field :email %><br>

	<%= f.label :password, "Password" %>
	<%= f.password_field :password %><br>
	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= f.password_field :password_confirmation %>
	<br>
	<%= f.label :is_instructor, "Is Instructor?:" %>
	<%= f.radio_button(:is_instructor, :true) %>
	<%= f.label(:is_instructor_true, "Yes") %>
	<%= f.radio_button(:is_instructor, :false) %>
	<%= f.label(:is_instructor_false, "No") %>
	<br>
	<%= f.submit "Create", html: {class: "button"}  %>
<% end %>
