<h1>This is the Instructor (and Student?) Dashboard</h1>

<h4>You are logged in as: <%= session[:user_name] %> 
	<% if session[:is_instructor] %>
	 [INSTRUCTOR] 
	<% end %>
</h4>

<h2>Profile Data:</h2>
<h3>Name: <%= @user.f_name %> <%= @user.l_name %></h3>
<h3>Email: <%= @user.email %></h3>
<% if (@user.is_instructor) %>
	<h3>INSTRUCTOR</h3>
<% else %>
	<h3>STUDENT</h3>
	<%# sending invitation #%> 	
	<% if @user.invitation_sent_at != nil %>
		<h3>Invited on <%= @user.invitation_sent_at %></h3>
	<% else %>
		<h3> User is not invited </h3>
	<% end %>
	
	<%= form_for @user, url: "/users/#{@user.id}/invite", method: 'post' do |f| %>
		<%= f.submit "send invite", html: {class: "button"}  %>
	<% end %>
	<!-- <form action="<%= @user.id %>/invite" method="POST"><input type="submit" value ="sent invitation email"></input></form >  -->
<% end %>

<% if (@user.is_active) %>
	<h3>Status: ACTIVE</h3>
<% else %>
	<h3>Status: INACTIVE</h3>
<% end %>

<%= link_to 'Logout', logout_path, method: 'delete' %>

<%# edit profile (self) %>

<%= link_to "Edit My Profile", "/users/#{session[:user_id]}/edit" %>

<%# browse users (instructors and students) %>

<%= link_to "Users", users_path %>

<%# add student (instructors only) %>

<% if session[:is_instructor] %>
	<%= link_to "Add a User", "/users/new" %>
<% end %>

<%# edit student profile (instructor only) %>

<% if session[:is_instructor] %>
	<%= link_to "Edit User", "/users/#{@user.id}/edit" %>
<% end %>

<%# create quiz #%>

<%# browse classes (index) %>

<%= link_to "Cohorts", cohorts_path %>

<%# create class/cohort (instructors only) %>

<% if session[:is_instructor] %>
	<%= link_to "Create a New Class(Cohort)", "/cohorts/new" %>
<% end %>

<%# edit class - this link is on the class(cohort) show page %>

<%# browse quizzes (index) %>

<%# create quiz %>

<%# edit quiz %>

<%# grade quiz %>






