<h1>Class/Cohort Show View</h1>

<%= link_to "Back to Dashboard", "/users/#{session[:user_id]}" %>

<h2>Course: <%= @cohort.course.name %></h2>
<h2>Cohort Name: <%= @cohort.name %></h2>

<h3>Start Date: <%= @cohort.start_date %></h3>
<h3>End Date: <%= @cohort.end_date %></h3>

<% if (@cohort.is_active) %>
	<h3>Status: ACTIVE</h3>
<% else %>
	<h3>Status: INACTIVE</h3>
<% end %>

<%= link_to "Edit Cohort", "/cohorts/#{@cohort.id}/edit" %>

<h3>Students in this Cohort</h3>
<ul>
	<% @cohort.users.each do |user| %>
		<li><%= user.f_name %> <%= user.l_name %></li>
	<% end %>
</ul>

<h3>Enroll a User</h3>
<form action="/enroll_cohort/<%= @cohort.id %>" method="post">
	<select name="user_id">
		<% @users.each do |user| %>
			<% if not user.cohorts.include?(@cohort) %>
				<option value="<%= user.id %>"><%= user.f_name %> <%= user.l_name %></option>
			<% end %> 
		<% end %>
	</select>
	<input type="submit" value="Add User to Cohort"/>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
</form>


