<h1>Class/Cohort Show View</h1>

<%= link_to "Back to Dashboard", "/users/#{session[:user_id]}" %>

<h2>Course: <%= @cohort.course.name %></h2>
<h2>Cohort Name: <%= @cohort.name %></h2>

<h3>Start Date: <%= @cohort.start_date %></h3>
<h3>End Date: <%= @cohort.end_date %></h3>

<% if (@cohort.is_active) %>
	<h3>Status: ACTIVE</h3>
<% else %>
	<h3>Status: INACTIVE</h3>
<% end %>

<%= link_to "Add New Quiz", new_cohort_quiz_path(@cohort) %>

<%= link_to "Edit Cohort", "/cohorts/#{@cohort.id}/edit" %>

<form action: "/enroll/<%= @cohort.id %>" method: "post">
	

</form>

<%= form_tag("/enroll/<%= @cohort.id %>", method: "post") do |f| %>
	
	<%= f.label :user_id, "User:" %>
	<%= f.collection_select(:user_id, User.all, :id, :name) %>

	<%= f.submit "Add", html: {class: "button"}  %>
<% end %>

