<div class="dash-main-inner">
	<div id="dash-profile">

		<div class="dash-profile-nav">
			<ul>

				<%# edit profile (self) %>

				<li><%= link_to "Edit Profile", "/users/#{session[:user_id]}/edit" %></li>

				<%# browse users (instructors and students) %>

				<li><%= link_to "Members", users_path %></li>

				<%# add student (instructors only) %>

				<% if session[:is_instructor] %>
					<li><%= link_to "Add a User", "/users/new" %></li>
				<% end %>

				<%# browse classes (index) %>

				<li><%= link_to "Cohorts", cohorts_path %></li>

				<%# create class/cohort (instructors only) %>

				<% if session[:is_instructor] %>
					<li><%= link_to "Create a New Cohort", "/cohorts/new" %></li>
				<% end %>

				<%# reports %>

				<li><%= link_to "Reports", "/report" %></li>


			</ul>
		</div>

		<div id="dash-gravatar-picture">
			<%= image_tag gravatar_url(@user.email, '200x200') %>
		</div>
		<div id="dash-user-details">
			<h2>Name:</h2> <h3><%= @user.f_name %> <%= @user.l_name %></h3>
			<h2>Email:</h2> <h3><%= @user.email %></h3>


			<h2>My Cohorts:</h2>
			<ul class="profile-cohort-list">
				<% @user.cohorts.each do |cohort| %>
					<li><a href="/cohorts/<%= cohort.id %>"><%= cohort.course.name %> <%= cohort.name %></a></li>
				<% end %> 
			</ul>
		</div>




	</div>
</div>
