<!DOCTYPE html>
<html>
<head>
  <title>QuizApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="Chart.js"></script>

</head>
<body>

<div class="header">
	<div id="toplogo">
		<a href="/"><img src="http://i.imgur.com/HD4qXlk.png">
	</div>
	 <div id="topname">
	 	<h1>QUIZZULHU</h2></a>
	 </div>

	 <div id="user-info-layout">
	 	<% if session[:user_name] %>
			<h4>Welcome, <%= session[:user_name] %>.</h4>
			<%= link_to 'Logout', logout_path, method: 'delete' %>
		<% end %>
	</div>
</div>

<%= yield %>

<div id="footer">
&nbsp;
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


</body>
</html>
